{% block content %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Мои Акции | Hard5</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/logo.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                <img src="/static/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Hard5</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Поиск" title="Введите название или тикер">
                <button type="submit" title="Поиск"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none ">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
<!-- wallet -->
                <li class="nav-item dropdown lef">
                    <div class="wall">
                        <a class="nav-link nav-icon text-center mar" href="{% url 'pay' %}">
                            <i class="bi bi-wallet2"> {{balance}}$</i>
                        </a><!-- End Messages Icon -->
                    </div>
          
                  </li><!-- End Messages Nav -->

                  <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                      <img src="/static/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                      <span class="d-none d-md-block dropdown-toggle ps-2">{{ user }}</span>
                    </a><!-- End Profile Iamge Icon -->
          
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                      <li class="dropdown-header">
                        <h6>{{ user }}</h6>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'user' %}">
                          <i class="bi bi-person"></i>
                          <span>Профиль</span>
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'user' %}">
                          <i class="bi bi-gear"></i>
                          <span>Настройки</span>
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                          <i class="bi bi-box-arrow-right"></i>
                          {% if user.is_authenticated %}
                          <form method="post" action="{% url 'logout' %}">
                              {% csrf_token %}
                              <button type="submit">Выход</button>
                          </form>
                          {% else %}
                          <a href="{% url 'login' %}">Вход</a>
                          {% endif %}
                        </a>
                      </li>
          
                    </ul><!-- End Profile Dropdown Items -->
                  </li><!-- End Profile Nav -->
          

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'index' %}">
                    <i class="bi bi-grid"></i>
                    <span>Акции</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link" href="{% url 'buy_share' %}">
                  <i class="bi bi-clipboard-data"></i><span>Мои акции</span></i>
                </a>
              </li><!-- End Forms Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
                    <li class="breadcrumb-item active">Мои акции</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
               
                    <div class="row">

                        <!-- Reports -->
                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">Мои акции</h5>
                                    
                                    <div id="reportsChart"></div>
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Название компании</th>
                                              <th scope="col">Количество акций</th>
                                              <th scope="col">Цена покупки</th>
                                              <th scope="col">Текущая цена</th>
                                              <th scope="col">Изменение цены (%)</th>
                                              <th scope="col">Доходность (%)</th>
                                              <th scope="col"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              {% for holding in holdings %}
                                              <td class="align-middle">{{ holding.share.ticker }}</td>
                                              <td class="align-middle">{{ holding.quantity }}</td>
                                              <td class="align-middle">{{ holding.purchase_price }}</td>
                                              <td class="align-middle">{{ holding.current_price }}</td>
                                              <td class="align-middle">{{ holding.price_change }}</td>
                                              <td class="align-middle">{{ holding.return_on_investment }}</td>
                                              <td > <button class="btn btn-bl"> Продать </button> </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                  <td colspan="6">У вас пока нет акций в портфеле</td>
                                                </tr>
                                              {% endfor %}
                                        </tbody>
                                   
                                    </table>
                                    <!-- End Line Chart -->
                                </div>
                            </div>
                        </div><!-- End Reports -->
                    </div>
               

                <!-- Right side columns -->
              
            </div>
        </section>

    </main><!-- End #main -->
</body>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>ChapmanTeam | Hard5</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            
            Designed by <a>ChapmanTeam | Hard5</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/static/assets/vendor/quill/quill.min.js"></script>
    <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/assets/js/main.js"></script>
</html>
{% endblock %}